{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h4>Delete {{bill_breakdown.title}}?</h4>
{% endblock page_header %}

{% block content %}

<form method="post" action="{% url 'blog:delete_breakdown_item' bill_breakdown.slug breakdown_item.id %}"
 enctype="multipart/form-data" class="form">
    {% csrf_token %}
    
    {% buttons %}
        <button name="submit" class="btn btn-danger">Yes</button>
        
        
    {% endbuttons %}
    
</form>

<a href="{% url 'blog:edit_breakdown_view' bill_breakdown.slug %}">
        <p>No, go back</p>
</a>
{% endblock content %}