{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<p> 
<a href="{% url 'blog:admin_main' %}">Back to admin</a>
</p>
<h4><br>{{bill_breakdown.title}}

<a href="{{bill_breakdown.bill_link}}">
<small class="text-muted">Link to full bill text&raquo</small>
</a>
<a href="{% url 'blog:edit_breakdown_head' bill_breakdown.slug %}" 
    class="btn btn-secondary">Edit Breakdown Head&raquo</a>
<a href="{% url 'blog:new_breakdown_detail' bill_breakdown.slug %}" 
    class="btn btn-success">New breakdown item &raquo</a>
    
{% endblock page_header %}


{% block content %}

{% for breakdown_item in breakdown_items %} 

 
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{breakdown_item.title}}</h5>
    <p class="card-text">{{breakdown_item.text|safe}}</p>
    <a href="{% url 'blog:pics' bill_breakdown.slug breakdown_item.id %}" class="btn btn-primary">
    Bill Text&raquo
    </a>
    <a href="{% url 'blog:edit_breakdown_detail' bill_breakdown.slug breakdown_item.id %}" 
    class="btn btn-secondary">Edit item</a>
    <a href="{% url 'blog:delete_breakdown_item' bill_breakdown.slug breakdown_item.id %}" 
    class="btn btn-danger">Delete Item</a>
  </div>
</div>


{% endfor %}

{% endblock content %}