{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h4>Delete {{roundup.title}}?</h4>
{% endblock page_header %}

{% block content %}

<form method="post" action="{% url 'blog:delete_roundup' roundup.slug %}" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    
    {% buttons %}
        <button name="submit" class="btn btn-primary">Yes</button>
        
        
    {% endbuttons %}
    
</form>

<a href="{% url 'blog:admin_main' %}">
        <p>No, go back</p>
</a>
{% endblock content %}